# Configurações do Airflow
#AIRFLOW_IMAGE_NAME=seu-airflow-customizado
#AIRFLOW_UID=50000
#_AIRFLOW_WWW_USER_USERNAME=seu_usuario_airflow
#_AIRFLOW_WWW_USER_PASSWORD=sua_senha_airflow

# Configurações do PostgreSQL (Metadados do Airflow)
#POSTGRES_USER=airflow
#POSTGRES_PASSWORD=sua_senha_postgres

# Configurações do MinIO
#MINIO_ROOT_USER=seu_usuario_minio
#MINIO_ROOT_PASSWORD=sua_senha_minio

# Chave Fernet para criptografia do Airflow 
# (Gere uma nova chave usando: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())")
#AIRFLOW__CORE__FERNET_KEY=sua_fernet_key_gerada_aqui

# Token de acesso ao Jupyter Notebook
#JUPYTER_TOKEN=seu_token_jupyter

# Conexões do Airflow
# ATENÇÃO: Substitua 'seu_usuario_minio' e 'sua_senha_minio' pelos mesmos valores de MINIO_ROOT_USER e MINIO_ROOT_PASSWORD
#AIRFLOW_CONN_MINIO_DEFAULT=aws://seu_usuario_minio:sua_senha_minio@/?endpoint_url=http%3A%2F%2Fminio%3A9000

# Conexão padrão do Spark 
# (Geralmente não precisa alterar se o nome do serviço no docker-compose for 'spark-master')
#AIRFLOW_CONN_SPARK_DEFAULT={"conn_type":"spark","host":"spark://spark-master","port":7077}